.ir {
    position: absolute;
    top: 0;
    right: 0;
}

.importante {
    color: #66FF66;
    font-weight: bold;
}

.semiimportante {
    color: #83FF83;
    font-weight: bold;
}

table {
    border: 2px double #A4FFA4;
    border-collapse: collapse;
}

th, td {
    border: 1px double #A4FFA4;
}