.ir {
    position: absolute;
    top: 0;
    right: 0;
}

.valeu {
    position: absolute;
    top: 0;
    left: 0;
}

.importante {
    color: #53CF53;
    font-size: 125%;
    font-weight: bold;
}

.semiimportante {
    color: #83FF83;
    font-weight: bold;
}

.prova {
    border: 2px double darkorange;
    border-collapse: collapse;
}

table {
    border: 2px double #A4FFA4;
    border-collapse: collapse;
}

th, td {
    border: 1px double #A4FFA4;
}

body {
    margin: 10px;
}